* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main {
padding-left: 300px;
padding-right: 300px;
}

h2 {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-top: 25px;
}

.container {
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.gallery img {
    width: 98%;
}

.banner {
    max-width: 100%; /* La imagen no superará el ancho del contenedor */
    margin: 0 auto; /* Centra el contenedor en la página */
    text-align: center; /* Centra el contenido del contenedor */
}

.banner img {
    width: 50%; /* La imagen ocupará el 100% del contenedor */
    height: auto; /* Mantiene la proporción original de la imagen */
    
    display: block; /* Elimina el espacio adicional debajo de la imagen */
    margin: 0 auto; /* Centra la imagen dentro del contenedor */
}

.navbar-brand { 
    width: 370px;
    margin: auto;

}

.navbar-brand img{
margin-left: 300px;
width: 80px;
height: 60px;

} 
header {
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: center;
}

.container-title {
    margin-left: 25px;
    font-size: 50px;
    padding: 10px;
    background-color: #eee;
    margin-bottom: 25px;
    color: #222;
}

.container-img {
    flex: 1; /* Toma el 50% del espacio disponible en el contenedor */
    margin-right: -40px; /* Ajusta el margen entre la imagen y los detalles del producto */
}
#Car-Photo {
    flex: 1;
    margin-left: 30px;
    height: 500px;
    width: 900px;
    object-fit: cover; /* Puede usar 'contain' si desea que toda la imagen esté visible */
    object-position: center top; /* Ajusta según la posición que desees mostrar */
}

.container-details-product{
flex: 1;

}

.product-container {
    display: flex;
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    height: 500px;
}


.container-details-product {
    padding: 30px 0;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}

.form-group label {
    width: 100px;
    color: #222;
    font-weight: 700;
}

.form-group select {
    width: 300px;
    border: none;
    padding: 12px 15px;
    background-color: #f7f7f7;
    outline: none;
    color: #666;
}

.container-add-cart {
    display: flex;
    gap: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e4e4e4;
}

.btn-add-to-cart {
    border: none;
    background-color: #252525;
    padding: 10px;
    color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 700;
    cursor: pointer;
    height: 40px;
    width: 60%;
}

.btn-add-to-cart:hover {
    color: #1bbeb4;
}

.hidden {
    display: none;
}

.container-description {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e4e4e4;
    padding: 10px 0;
}

.container-additional-information {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
}

.container-price {
    padding-bottom: 2px;
    border-bottom: 1px solid #e4e4e4;
    
}

.container-price span {
    font-size: 24px;
    font-weight: 300;
}

.title-description,
.title-additional-information,
.title-reviews {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.text-description,
.text-additional-information,
.text-reviews {
    font-size: 13px;
    color: #252525;
    line-height: 22px;
    margin-top: 25px;
}

.title-description h4,
.title-additional-information h4 {
    font-weight: 300;
    color: #666;
    font-size: 20px;
}
